<!DOCTYPE html>
<html>
  <head>
    <title>RailsIntro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul>
      <li><%= link_to 'Volte ao Início', root_path %></li>
      <li><%= link_to 'Sobre nós', about_path %> </li>
      <li><%= link_to 'Fale conosco', contact_path %></li>
    </ul>

    <!-- Minha navbar aqui -->
    <%= yield %>
    <!-- Meu footer aqui -->
  </body>
</html>
